@model IEnumerable<Race>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Join Our Racing Groups</h1>
        <p class="lead text-muted">Welcome to Our Racing Groups . You can join one of our Racing groups just by registraing here.</p>
    </div>
</section>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src=@item.Image style="height: 225px; width: 100%; display: block;" data-holder-rendered="true">
                        <div class="card-body">
                            <p class="card-text">@item.Title</p>
                            <p class="card-text">@item.Description</p>

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="Race" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">More Details</a>
                                    @if(User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Delete</a>

                                    }
                                </div>
                                <small class="text-muted">@item.RaceCategory</small>
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
    </div>
</div>