@model IEnumerable<Club>
@{
    ViewData["Title"] = "Home Page";
}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

    </style>

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/Img/braden-collum-9HI8UJMSdZA-unsplash.jpg" alt="" width="100%" height="600" class="d-inline-block align-text-top">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Our Running Academy.</h1>
                    <p>Some representative placeholder content for the first slide of the carousel.</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Account" asp-action="Register">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Img/capstone-events-4oK5BlObZXg-unsplash.jpg" alt="" width="100%" height="600" class="d-inline-block align-text-top">

            <div class="container">
                <div class="carousel-caption">
                    <h1>Our Running Clubs</h1>
                    <p>You Can Join Our Running Academy Today</p>
                    <p><a class="btn btn-lg btn-primary" asp-controller="Account" asp-action="Register">Sign Up</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/Img/hero.jpg" alt="" width="100%" height="600" class="d-inline-block align-text-top">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h2>Our Running Clubs</h2>
                    <p>You Can Join Our Running Clubs Today</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!----------------------------------------------------------------------->

<h1 style="text-align:center; margin-top:10rem; margin-bottom:5rem">Check Our Clubs </h1>
    <div class="album py-5 bg-light">
        <div class="container">

         <div class="row">
         @{int i = 0;}
        @foreach (var item in Model)
        {
                
                if (i < 4)
                {
                    <div class="card bg-dark text-white col-md-4" style="width: 19rem;">
                        <img src=@item.Image class="card-img" alt="...">
                    <div class=" mb-4 card-img-overlay">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <a type="button" asp-controller="Club" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">More Details</a>
                    </div>
                    </div>
                  i++;
                }else{ break; }
         }
        </div>
    </div>

    <h1 style="text-align:center; margin-top:10rem; margin-bottom:5rem"> Also You Can Check Our Races </h1>
    <a type="button" asp-controller="Races" asp-action="Index" class="btn btn-primary btn-lg btn-block" style="width:100%; align-content:center">More Details</a>

@*
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-item active">
                
                {
                    <div class="carousel-item active">
                    <img src= class="d-block img-thumbnail" hight="450" width="650">
                    </div>
                }
           
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
*@